{
  "presets": [ "@babel/preset-env" ],
  "plugins": ["transform-vue-jsx"],
  "env": {
    "test": {
      "presets": ["@babel/preset-env"],
      "plugins": ["transform-vue-jsx", "istanbul"]
    }
  }
}
