{
  "presets":
  [
      [
          "@babel/preset-env",
          {
              "targets": {
                  "browsers": ["last 2 versions"]
              },
              "debug": true
          }
      ]
  ],
  "plugins": ["transform-vue-jsx", "@babel/transform-runtime"],
  "env": {
    "test": {
      "presets": ["env", "stage-2"],
      "plugins": ["transform-vue-jsx", "istanbul"]
    }
  }
}
