<!DOCTYPE html>
<html lang="ja">
<head>
<title></title>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
<link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

  <style>
  body, html {
    margin: 0;
    padding: 0;
  }
  h1 {
    position: absolute;
    left: 0;
    top: 0;
  }
  #app {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  textarea {
    min-height: 70vh;
  }
</style>
</head>
<body>
<div id="app">
  <v-app>
    <v-content>
      <v-container fluid>
        <v-layout justify-space-around>
          <v-flex xs11>
            <span class="display-1">JSON to JS Object</span>
          </v-flex>
        </v-layout>
        <v-layout row justify-space-around>
          <v-flex xs5>
            <v-text-field
              v-model="input"
              label="JSON"
              textarea
              multi-line
              box
            ></v-text-field>
          </v-flex>
          <v-flex xs5>
            <v-text-field
              v-model="_output"
              label="JS Object"
              textarea
              multi-line
              box
            ></v-text-field>
          </v-flex>
        </v-layout>
      </v-container>
    <v-content>
  </v-app>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue" type="text/javascript" charset="UTF-8"></script>
<script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.5/lodash.min.js" type="text/javascript" charset="UTF-8"></script>
<script>
const app = new Vue({
  el: '#app',
  data: {
    input: '{"array": ["aaaa", 1, true, false],"arrayObj": [{"aaaa": 123, "hasData": true, "count": -1}, {"test": "aaa"}],"test": {"a": 1}, "message":"ああああ", "isVisible": true, "count": 777}',
    lineBreak: '\n',
    indentSize: 0,
    tabSize: 2
  },
  methods: {
    // keyの展開
    json2JSObjectString: function (json) {
      const jsObj = JSON.parse(json)
      if (Array.isArray(jsObj)) {
        this.output = this.getArray(null, jsObj)
      } else {
        this.output = this.parseObject(jsObj)
      }

      return jsObj
    },
    execType: function (key, value) {
      const type = typeof value
      if (type === 'string') {
        return this.getString(key, value)
      } else if (type === 'boolean') {
        return this.getBoolean(key, value)
      } else if (type === 'number') {
        return this.getNumber(key, value)
      } else if (type === 'object') {
        if (value === null) {
          return 'null'
        } else if (Array.isArray(value)) {
          return this.getArray(key, value)
        } else {
          return this.getObject(key, value)
        }
      }
    },
    parseObject: function (obj) {
      if (!obj) return 'null'

      this.indentSize++
      const indent = ' '.repeat(this.indentSize * this.tabSize)
      let textList = []
      const keys = Object.keys(obj)
      keys.forEach((v) => {
        textList.push(`${indent}${this.execType(v, obj[v])}`)
      })
      this.indentSize--

      const coverIndnet = ' '.repeat(this.indentSize * this.tabSize)
      return `${coverIndnet}{${this.lineBreak}${textList.join(',' + this.lineBreak)}${this.lineBreak}${coverIndnet}}`
    },

    createString: (value) => { return `'${value}'` },
    createNumber: (value) => { return `${value}` },
    createBoolean: (value) => { return `${value ? 'true' : 'false'}` },
    createObject: function (value) {
      return `${this.parseObject(value)}`
    },
    getString: function (key, value) {
      return `${key}: ${this.createString(value)}`
    },
    getNumber: function (key, value) {
      return `${key}: ${this.createNumber(value)}`
    },
    getBoolean: function (key, value) {
      return `${key}: ${this.createBoolean(value)}`
    },
    getObject: function (key, value) {
      return `${key}: ${this.createObject(value)}`
    },
    getArray: function (key, value) {
      let val = []
      this.indentSize++
      const indent = ' '.repeat(this.indentSize * this.tabSize)
      value.forEach((v) => {
        const type = typeof v
        if (type === 'string') {
          val.push(`${indent}${this.createString(v)}`)
        } else if (type === 'boolean') {
          val.push(`${indent}${this.createBoolean(v)}`)
        } else if (type === 'number') {
          val.push(`${indent}${this.createNumber(v)}`)
        } else if (type === 'object') {
          if (v === null) {
            val.push(`${indent}null`)
          } else if (Array.isArray(v)) {
            val.push(this.getArray(null, v))
          } else {
            val.push(this.createObject(v))
          }
        }
      })

      this.indentSize--
      const coverIndnet = ' '.repeat(this.indentSize * this.tabSize)
      return `${key}: [${this.lineBreak}${val.join(',')}${this.lineBreak}${coverIndnet}]`
    }
  },
  computed: {
    _output: function () {
      this.output = ''
      this.json2JSObjectString(this.input)
      return this.output
    }
  }
})
</script>
</body>
</html>
